<div class="login-page vsc-initialized" style="min-height: 496.8px; background-image: url(../../../assets/img/img1.png); background-size: cover;">
  <div class="login-box">
    <div class="login-logo">
      <a href="../../index2.html"> <img src="../../assets/img/template/logo_light.png" alt="AdminLTE Logo" width="200px" height="200px" class="rounded mx-auto d-block"></a>
    </div>
    <!-- /.login-logo -->
    <div class="card">
      <div class="card-body login-card-body">

        <form action="../../index3.html" method="post"
            (ngSubmit) = "onSubmit(f)"
            #f = "ngForm"
            class="needs-validation"
            novalidate

        >
          <div class="input-group mb-3">
            <input type="text"
            class="form-control"
            placeholder="Email"
            autocomplete="off"
            [(ngModel)] = "user.email"
            name="email"
            email
            required
            >
            <div class="input-group-append">
              <div class="input-group-text">
                <span class="fas fa-envelope"></span>
              </div>
            </div>
            <div class="input-group-append">
              <div class="input-group-text">
                <span class="fas fa-user"></span>
              </div>
            </div>
            <div class="valid-feedback">Valido.</div>
            <div
            *ngIf="f.submitted && f.controls['email'].errors"
            class="invalid-feedback">Por favor, rellene el campo</div>
          </div>
          <div class="input-group mb-3">
            <input type="password" class="form-control" placeholder="Contraseña" autocomplete="off"
              [(ngModel)] = "user.password"
              name="password"
              required

            >
            <div class="input-group-append">
              <div class="input-group-text">
                <span class="fas fa-lock"></span>
              </div>
            </div>
            <div class="valid-feedback">Valido.</div>
            <div
            *ngIf="f.submitted && f.controls['password'].errors"
            class="invalid-feedback">Por favor, rellene el campo</div>
          </div>
          <div class="row">
            <!-- /.col -->
            <div class="col-12">
              <button type="submit" class="btn btn-warning btn-block">Sign In</button>
            </div>
            <!-- /.col -->
          </div>
        </form>
      </div>
      <!-- /.login-card-body -->
    </div>
  </div>
  <!-- /.login-box -->
</div>

