  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1>Dashboard del su usuario</h1>
          </div>
          <div class="col-sm-6">
            <ol class="breadcrumb float-sm-right">
              <li class="breadcrumb-item"><a [routerLink]="['/']">Home</a></li>
              <li class="breadcrumb-item active">Dashboard del su usuario</li>
            </ol>
          </div>
        </div>
      </div><!-- /.container-fluid -->
    </section>
    <section class="content">
      <div class="col-12 col-sm-6 col-md-3">
      <div class="info-box mb-3">
        <span class="info-box-icon bg-success elevation-1"><i class="fas fa-file-alt"></i></span>

        <div class="info-box-content">
          <span class="info-box-text">Documentos totales</span>
          <span class="info-box-number">{{ contador }}</span>
        </div>
        <!-- /.info-box-content -->
      </div>
      <!-- /.info-box -->
      </div>
    </section>

    <!-- Main content -->
    <section class="content">

      <div class="row">
        <div class="col-md-6 col-sm 12">
          <div class="card">
            <div class="card-header">
              <div class="row">
                <h3>Listado de sus documentos</h3>
              </div>
              <hr>
              <div class="row">
                <div class="col-md-3">
                  <button mat-raised-button color="primary" (click)="exportXLSX()"><mat-icon>trending_down</mat-icon>Exportar a Excel</button>
                </div>
                <div class="col-6 col-sm-12 col-xl-3 ml-auto">
                  <input class="form-control" placeholder="Buscar...." (keyup)="applyFilter($event)">
                </div>
              </div>
            </div>
            <div class="card-body" style="height: 100% !important;">
              <div class="mat-table-container">
                <table mat-table [dataSource]="dataSource" class="mat-elevation-z8 matTable-table" multiTemplateDataRows matSort >

                  <ng-container matColumnDef="position">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Ordenar por numero de orden" >
                      No.
                    </th>
                    <td mat-cell *matCellDef="let element"> {{element.position}} </td>
                  </ng-container>


                  <ng-container matColumnDef="nombreDocumento">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Ordenar por nombre del documento">
                      Nombre del documento
                    </th>
                    <td mat-cell *matCellDef="let element"> {{element.nombreDocumento}} </td>
                  </ng-container>

                  <ng-container matColumnDef="category">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Ordenar por categoria">
                      Tipo de documento
                    </th>
                    <td mat-cell *matCellDef="let element"> {{element.category}} </td>
                  </ng-container>


                  <ng-container *ngIf="!screenSizeSM" matColumnDef="url">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Ordenar por url">
                      Url de descarga
                    </th>
                    <td mat-cell *matCellDef="let element"><a href="{{element.url}}">{{element.url}}</a></td>
                  </ng-container>

                  <ng-container matColumnDef="acciones">
                    <th mat-header-cell *matHeaderCellDef>
                     Acciones
                    </th>
                    <td mat-cell *matCellDef="let element">
                      <button
                        class="btn btn-sm btn-warning mr-2"
                        (click)="expandedElement = expandedElement === element ? null : element"

                      ><i class="fa fa-eye"></i></button>
                    </td>
                  </ng-container>

                <ng-container matColumnDef="expandedDetail">
                  <td mat-cell *matCellDef="let element" [attr.colspan]="displayedColumns.length">
                    <div class="example-element-detail"
                          [@detailExpand]="element == expandedElement ? 'expanded' : 'collapsed'">
                      <ul class="pl-0">
                        <li class="py-2">
                          <span class="mx-2 text-muted">.</span>
                          <strong class="mat-header-cell">Nombre del documento:</strong>
                          {{element.nombreDocumento}}

                        </li>
                        <li class="py-2">
                          <span class="mx-2 text-muted">.</span>
                          <strong class="mat-header-cell">Categoria</strong>
                          {{element.category}}
                        </li>
                        <li class="py-2">
                          <span class="mx-2 text-muted">.</span>
                          <strong class="mat-header-cell">Url de descarga </strong>
                          <a href="{{element.url}}">{{element.url}}</a>

                        </li>
                      </ul>
                    </div>
                  </td>
                </ng-container>
                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let element; columns: displayedColumns;"
                    class="example-element-row"
                    [class.example-expanded-row]="expandedElement === element"
                  >
                </tr>
                <tr mat-row *matRowDef="let row; columns: ['expandedDetail']" class="example-detail-row"></tr>
                <tr class="mat-row" *matNoDataRow>
                  <td class="mat-cell text-center" colspan="4" [attr.colspan]="displayedColumns.length">No ha encontrado los datos de busqueda.</td>
                </tr>

                </table>

              </div>
            </div>
            <!-- /.card-body -->
            <div class="card-footer bg-white">
              <mat-paginator [hidden]="loadData" [pageSizeOptions]="[5, 10, 20]"
                showFirstLastButtons
                aria-label="Seleccione la pagina de afiliados">
                </mat-paginator>
            </div>
            <!-- /.card-footer-->
          </div>


        </div>
        <div class="col-md-6 col-sm-12">
          <div class="card">
            <div class="card-header">
              <h3 class="card-title">Documentos por tipo</h3>

              <div class="card-tools">
                <button type="button" class="btn btn-tool" data-card-widget="collapse" title="Collapse">
                  <i class="fas fa-minus"></i>
                </button>
                <button type="button" class="btn btn-tool" data-card-widget="remove" title="Remove">
                  <i class="fas fa-times"></i>
                </button>
              </div>
            </div>
            <div class="card-body">
              <div *ngIf="chart" >
                <canvas id="canvas" style="max-height: 454px;" class="w-100">
                  {{ chart }}
                </canvas>
              </div>

            </div>
          </div>
        </div>
        <div class="col-md-6 col-sm-12">
          <div class="card">
            <div class="card-header">
              <div class="card-title">
                Documentos totales por fecha personalizada
              </div>
              <div class="card-tools">
                <button type="button" class="btn btn-tool" data-card-widget="collapse" title="Collapse">
                  <i class="fas fa-minus"></i>
                </button>
                <button type="button" class="btn btn-tool" data-card-widget="remove" title="Remove">
                  <i class="fas fa-times"></i>
                </button>
              </div>
            </div>
            <div class="card-body">

              <div *ngIf="chartBar" >
                <canvas id="barra" class="w-100">
                  {{ chartBar }}
                </canvas>
                <input (change)="filterData()" type="date" id="startdate" value="2021-08-25">
                <input (change)="filterData()" type="date" id="enddate" value="2021-08-31">
            </div>
          </div>
        </div>
        </div>
        <div class="col-md-6 col-sm-12">
          <div class="card">
            <div class="card-header border-transparent">
                <h3 class="card-title">Mensajes</h3>
                <div class="table-responsive">
                  <table class="table m-0">
                    <thead>
                      <tr>
                        <th>Mensaje Id</th>
                        <th>Fecha de mensaje</th>
                        <th>Nombre completo (Emisor)</th>
                        <th>Tipo de integrante (Emisor)</th>
                        <th>Nombre completo del receptor</th>
                        <th>Mensaje</th>
                        <th>Fecha de respuesta</th>
                        <th>Respuesta</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr *ngFor="let message of messages; let i = index;">
                        <td>
                          {{ idMessage[i]}}
                          <div class="text-center" *ngIf="message.answer == null">
                              <button type="button" class="btn btn-danger mt-2" (click)="answerMessage(idMessage[i])">Responder mensaje</button>
                          </div>
                        </td>
                        <td>
                          {{ message.date_message | date }}
                        </td>
                        <td>
                          {{ message.nombres }} {{ message.apellidos }}
                        </td>
                        <td>
                          {{ message.tipo }}
                        </td>
                        <td>
                          {{ message.dirigente}}
                        </td>
                        <td>
                          {{ message.message}}
                        </td>
                        <td>
                          {{ message.date_answer | date}}
                        </td>
                        <td>
                          {{ message.answer}}
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </div>
            </div>
          </div>
        </div>
      </div>
      	<!--=====================================
	Modal para las mensajes
	======================================-->

	<!-- The Modal -->
	<div class="modal" id="answerMessage">
    <div class="modal-dialog">
        <div class="modal-content">

            <form
            (ngSubmit)="onSubmit(f)"
            #f="ngForm">

                <div class="modal-header">
                    <h4 class="modal-title">Responder mensaje.</h4>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>
                <div class="modal-body">

                    <div class="form-group">

                        <label>Escribe tu respuesta</label>

                        <div class="form-group__content">

                            <textarea
                            class="form-control"
                            type="text"
                            name="answer"
                            [(ngModel)]="message.answer"
                            required></textarea>

                        </div>

                    </div>

                </div>
                <div class="modal-footer">

                    <div class="float-right">
                        <button type="submit" class="btn btn-warning btn-lg">Send</button>
                    </div>

                </div>

            </form>

        </div>
    </div>
</div>

    </section>
    <!-- /.content -->
  </div>
  <!-- /.content-wrapper -->



