  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1>Afiliados</h1>
          </div>
          <div class="col-sm-6">
            <ol class="breadcrumb float-sm-right">
              <li class="breadcrumb-item"><a [routerLink]="['/']">Home</a></li>
              <li class="breadcrumb-item active">Afiliados</li>
            </ol>
          </div>
        </div>
      </div><!-- /.container-fluid -->
    </section>

    <!-- Main content -->
    <section class="content">

      <!-- Default box -->
      <div class="card">
        <div class="card-header">
          <div class="col-12 col-sm-12 col-xl-5 mr-auto">
            <!-- <mat-form-field *ngFor="let filter of filterSelectObj" style="margin-left: 15px;">
              <mat-label>Filtrar por {{filter.name}}</mat-label>
              <select matNativeControl name="{{filter.columnProp}}" [(ngModel)]="filter.modelValue"
                (change)="filterChange(filter,$event)" class="form-control">
                <option value="">-- Seleccionar {{filter.name}} --</option>
                <option [value]="item" *ngFor="let item of filter.options">{{item}}</option>
              </select>
            </mat-form-field>
            &nbsp;
            <button  mat-flat-button color="warn" (click)="resetFilters()">Resetear filtros</button> -->
          </div>
          <div [hidden]="loadData" class="row mb-2">
            <div class="col-12 col-sm-12 col-xl-3 ml-auto mt-2">
              <input class="form-control" placeholder="Buscar...." (keyup)="applyFilter($event)">
            </div>
          </div>
        </div>
        <div class="card-body">
          <div class="mat-table-container">
            <table [hidden]="loadData" mat-table [dataSource]="dataSource" class="mat-elevation-z8 matTable-table" multiTemplateDataRows matSort >

              <!-- Position Column -->
              <ng-container matColumnDef="position">
                <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Ordenar por numero de orden" >
                  No.
                </th>
                <td mat-cell *matCellDef="let element"> {{element.position}} </td>
              </ng-container>

              <!-- Nombre completo Column -->
              <ng-container matColumnDef="displayName">
                <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Ordenar por nombre completo">
                  Nombre completo
                </th>
                <td mat-cell *matCellDef="let element"> {{element.displayName}} </td>
              </ng-container>

              <ng-container matColumnDef="dni" *ngIf="!screenSizeSM">
                <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Ordenar por dni">
                  DNI
                </th>
                <td mat-cell *matCellDef="let element"> {{element.dni}} </td>
              </ng-container>
              <ng-container matColumnDef="area_laboral">
                <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Ordenar por area laboral">
                  Area laboral actual
                </th>
                <td mat-cell *matCellDef="let element"> {{element.area_laboral}} </td>
              </ng-container>
              <ng-container matColumnDef="email" *ngIf="!screenSizeSM">
                <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Ordenar por email">
                  Email
                </th>
                <td  mat-cell *matCellDef="let element"> {{element.email}} </td>
              </ng-container>
              <ng-container matColumnDef="estado">
                <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Ordenar por estado">
                  Estado
                </th>
                <td mat-cell *matCellDef="let element">
                  <span *ngIf="element.estado == 'Activo'">
                    <span class="badge bg-success p-2">{{element.estado}}</span>
                  </span>
                  <span *ngIf="element.estado == 'Inhabilitado'">
                    <span class="badge bg-danger p-2">{{element.estado}}</span>
                  </span>
                  <span *ngIf="element.estado == 'En espera'">
                    <span class="badge bg-warning p-2">{{element.estado}}</span>
                  </span>
                </td>
              </ng-container>
              <ng-container matColumnDef="telefono" *ngIf="!screenSizeSM">
                <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Ordenar por telefono">
                  Telefono o Celular
                </th>
                <td  mat-cell *matCellDef="let element"> {{element.telefono}} </td>
              </ng-container>
              <ng-container matColumnDef="tipo">
                <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Ordenar por tipo">
                  Tipo
                </th>
                <td mat-cell *matCellDef="let element"> {{element.tipo}} </td>
              </ng-container>
              <ng-container matColumnDef="fecha_inscripcion" *ngIf="!screenSizeSM">
                <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Ordenar por fecha de inscripción">
                  Fecha de inscripción
                </th>
                <td  mat-cell *matCellDef="let element"> {{element.fecha_inscripcion}} </td>
              </ng-container>
              <!-- Acciones -->
              <ng-container matColumnDef="acciones">
                <th mat-header-cell *matHeaderCellDef>
                 Acciones
                </th>
                <td mat-cell *matCellDef="let element">
                  <button
                    class="btn btn-sm btn-warning mr-2"
                    (click)="expandedElement = expandedElement === element ? null : element"

                  ><i class="fa fa-eye"></i></button>
                </td>
              </ng-container>
              <ng-container matColumnDef="expandedDetail">
                <td mat-cell *matCellDef="let element" [attr.colspan]="displayedColumns.length">
                  <div class="example-element-detail"
                       [@detailExpand]="element == expandedElement ? 'expanded' : 'collapsed'">
                   <ul class="pl-0">
                     <li class="py-2">
                       <span class="mx-2 text-muted">.</span>
                       <strong class="mat-header-cell">Nombre completo:</strong>
                       {{element.displayName}}

                      </li>
                     <li class="py-2" *ngIf="screenSizeSM">
                        <span class="mx-2 text-muted" >.</span>
                        <strong class="mat-header-cell">DNI:</strong>
                        {{element.dni}}
                      </li>
                     <li class="py-2">
                        <span class="mx-2 text-muted">.</span>
                        <strong class="mat-header-cell">Area Laboral:</strong>
                        {{element.area_laboral}}
                      </li>
                     <li class="py-2" *ngIf="screenSizeSM">
                      <span class="mx-2 text-muted">.</span>
                      <strong class="mat-header-cell">Email: </strong>
                      {{element.email}}</li>
                     <li class="py-2">
                      <span class="mx-2 text-muted">.</span>
                      <strong class="mat-header-cell">Estado: </strong>

                      <span *ngIf="element.estado == 'Activo'">
                        <span class="badge bg-success">{{element.estado}}</span>
                      </span>
                      <span *ngIf="element.estado == 'Inhabilitado'">
                        <span class="badge bg-danger">{{element.estado}}</span>
                      </span>
                      <span *ngIf="element.estado == 'En espera'">
                        <span class="badge bg-warning">{{element.estado}}</span>
                      </span>

                    </li>
                     <li class="py-2" *ngIf="screenSizeSM">
                      <span class="mx-2 text-muted">.</span>
                      <strong class="mat-header-cell">Telefono: </strong>
                      {{element.telefono}}</li>
                     <li class="py-2">
                      <span class="mx-2 text-muted">.</span>
                      <strong class="mat-header-cell">Tipo: </strong>
                      {{element.tipo}}</li>
                     <li class="py-2" *ngIf="screenSizeSM">
                        <span class="mx-2 text-muted">.</span>
                        <strong class="mat-header-cell">Fecha de Inscripción:</strong>
                       {{element.fecha_inscripcion}}</li>
                   </ul>
                  </div>
                </td>
              </ng-container>
              <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
              <tr mat-row *matRowDef="let element; columns: displayedColumns;"
                  class="example-element-row"
                  [class.example-expanded-row]="expandedElement === element"
                >
              </tr>
              <tr mat-row *matRowDef="let row; columns: ['expandedDetail']" class="example-detail-row"></tr>
              <tr class="mat-row" *matNoDataRow>
                <td class="mat-cell text-center" colspan="4" [attr.colspan]="displayedColumns.length">No ha encontrado los datos de busqueda.</td>
              </tr>
            </table>

            <div *ngIf="loadData" class="text-center m-5">
              <div  class="spinner-border"></div>
            </div>

          </div>
        </div>
        <!-- /.card-body -->
        <div class="card-footer bg-white">
          <mat-paginator [hidden]="loadData" [pageSizeOptions]="[5, 10, 20]"
            showFirstLastButtons
            aria-label="Seleccione la pagina de afiliados">
            </mat-paginator>
        </div>
        <!-- /.card-footer-->
      </div>
      <!-- /.card -->

    </section>
    <!-- /.content -->
  </div>
  <!-- /.content-wrapper -->


