<section id="hero">
  <div class="hero-container">
    <div id="heroCarousel" class="carousel slide carousel-fade" data-bs-ride="carousel" data-bs-interval="5000">

      <ol class="carousel-indicators" id="hero-carousel-indicators"></ol>

      <div class="carousel-inner" role="listbox">

        <!-- Slide 1 -->
        <div class="carousel-item active" style="background-image: url(../../../assets/img/img1.png);">
          <div class="carousel-container">
            <div class="carousel-content container">
              <h2 class="animate__animated animate__fadeInDown">Bienvenido al Sindicato Unitario <div class="mt-2">de Trabajadores de Saga Falabella</div> <div class="mt-3">(SUTRASAF)</div></h2>
              <p class="animate__animated animate__fadeInUp">Somos una organización sindical autónoma e independiente de orientación democrática y nacionalista integrada por los trabajadores empleados y de servicios de Saga Falabella S.A.</p>
              <!-- <a href="#about" class="btn-get-started animate__animated animate__fadeInUp scrollto">Read More</a> -->
            </div>
          </div>
        </div>
      </div>

      <a class="carousel-control-prev" href="#heroCarousel" role="button" data-bs-slide="prev">
        <span class="carousel-control-prev-icon bi bi-chevron-left" aria-hidden="true"></span>
      </a>
      <a class="carousel-control-next" href="#heroCarousel" role="button" data-bs-slide="next">
        <span class="carousel-control-next-icon bi bi-chevron-right" aria-hidden="true"></span>
      </a>

    </div>

  </div>
</section>
<main id="main">

  <section id="about" class="about">
    <div class="container aos-init aos-animate" data-aos="fade-up">

      <div class="row no-gutters">
        <div class="col-lg-6 video-box">
          <div style="margin-top: 25%; margin-left: 15%;">
            <img src="./../assets/img/template/logo_light.png" class="img-fluid" alt="">
          </div>
        </div>

        <div class="col-lg-6 d-flex flex-column justify-content-center about-content">

          <div class="section-title">
            <h2>Sobre nosotros</h2>
            <p>Somos una organización sindical autónoma e independiente de orientación democrática y nacionalista integrada por los trabajadores empleados y de servicios de Saga Falabella S.A.</p>
            <p>Además representamos a una sola organización sindical a todos los trabajadores empleados que presentan servicios en Saga Falabella S.A. en el ambito local, regional, nacional</p>
          </div>

          <div class="icon-box aos-init aos-animate" data-aos="fade-up" data-aos-delay="100">
            <div class="icon"><i class="fas fa-shield-alt"></i></div>
            <h4 class="title"><a href="">¿Que defendemos?</a></h4>
            <p class="description">Defendemos en mantener la unidad y la democracia sindical sin caudillismos, sin sectarismos o personalismos heciendo de la institución sindical un lugar agradable de participación y debate laboral que redunde en beneficio de los trabjadores  agremiados y los trabajadores  en general de la empresa</p>
          </div>

          <div class="icon-box aos-init aos-animate" data-aos="fade-up" data-aos-delay="100">
            <div class="icon"><i class="fas fa-book-open"></i></div>
            <h4 class="title"><a href="">¿ Como nos consituimos en el marco legal de la Constitución Politica del Perú ? </a></h4>
            <p class="description">Se constituye al amparo de la Constitución y las leyes así como los Convenios Internacionales que son normas de obligatoria observancia en el país, que protegen la libertad sindical y por libre voluntad de sus afiliados, en asamblea general unitaria de los trabajadores de la empresa Saga Falabella S.A., por lo dispuesto al Artículo 5 Inciso a Artículo 16, 17  del D.S 010-2003 TR TUD de la ley General de Relaciones Colectivas de Trabajo 25594 y sus normas modificatorias y reglamentarias.</p>
          </div>

        </div>
      </div>

    </div>
  </section>
  <section class="counts section-bg mb-4">
    <div class="section-title">
          <h2>Contamos a nivel nacional con..</h2>
    </div>
    <div class="container">

      <div class="row">

        <div class="col-lg-4 col-md-6 text-center aos-init aos-animate" data-aos="fade-up">
          <div class="count-box">
            <i class=" fas fa-address-book" style="color: #20b38e;"></i>
            <div class="my-2">
              <span data-purecounter-start="0" data-purecounter-end="232" data-purecounter-duration="0" class="purecounter">400</span>
            </div>
            <p>Afiliados</p>
          </div>
        </div>
        <div class="col-lg-4 col-md-6 text-center aos-init aos-animate" data-aos="fade-up">
          <div class="count-box">
            <i class=" 	fas fa-user-cog" style="color: #46d1ff;"></i>
            <div class="my-2">
              <span data-purecounter-start="0" data-purecounter-end="232" data-purecounter-duration="0" class="purecounter">6</span>
            </div>
            <p>Dirigentes</p>
          </div>
        </div>
        <div class="col-lg-4 col-md-12 text-center aos-init aos-animate" data-aos="fade-up">
          <div class="count-box">
            <i class="fas fa-globe-americas" style="color: #9243db;"></i>
            <div class="my-2">
              <span data-purecounter-start="0" data-purecounter-end="232" data-purecounter-duration="0" class="purecounter">6</span>
            </div>
            <p>Departamentos</p>
          </div>
        </div>
      </div>

    </div>
  </section>
  <section id="contact" class="contact">
    <div class="container aos-init aos-animate" data-aos="fade-up">

      <div class="row">
        <div class="col-md-6">
          <div class="section-title" style="margin-top: 20%; ">
            <h2 style="color: #d13c32 !important;">Contactanos</h2>
          </div>
        </div>
        <div class="col-md-6 aos-init aos-animate" data-aos="fade-up">
          <div class="info-box row">
              <div class="col-md-12 text-center">
                <h3>Como contactarnos</h3>
              </div>
              <div class="col-md-12 text-center">
                <p>Contamos con el contacto directamente con los dirigentes de la organización, para realizar con esa acción debe de realizar los siguientes 2 pasos: </p>
                <div class="mt-4">

                  <ol>
                    <li>Debe de registrarse mediante este através de este <a [routerLink]="['/register']">enlace</a>, y siga los pasos del modulo para iniciar sesión correctamente</li>
                    <li>Finalmente, para contactarnos ingrese a este <a [routerLink]="['/register']">enlace</a> </li>
                  </ol>
                </div>
              </div>
          </div>
        </div>
      </div>

    </div>
  </section>
</main>

